<div class="container">
  <div class="padded">
    <div class="text-center">
      <h1>Land Rover price tracker</h1>
      <p>Keeping track of the latest prices!</p>
      <%= link_to "Find out more", root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

