.list {

}
.list-item {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.list-item img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.list-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.list-item p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.list-item .list-item-infos {
  padding: 16px;
  flex: 1;
}

.list-item-price {
  width: 120px;
}

.list-item-seller {
  width: 120px;
  display: flex;
  justify-content: center;
  margin: 0 12px;
}
.list-item-seller img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
